.profile-container{  
    color:#fff;
    display: grid;
    margin: auto;
    position: relative;
    grid-template-columns:repeat(2 , 1fr);
    grid-template-rows: auto(100% - 1em);;
			grid-template-areas:
				"about pic"
				"des tag"
}
.primary-text{
    grid-area: about;
    font-family:"Poppins semiBold";
    width: max-content;
    
}
.primary-text h1 {
    padding: 1rem;
}
.highligted-text{
    font-size:5vh;
    padding: 4rem;
    font-family: cursive;
    color: darkorange
}
.primary-text p {
    font-size: 2vh;
    padding-left: 6rem;
}
.profile-details-role{
    grid-area: tag;
    margin: auto;
}
.profile-role-tagline{
    grid-area: des;
    font-size: 2.5vh;
    line-height: 1.5;
    font-family:"Poopins Light";
    height:fit-content ;
    margin: 3rem 1rem 3rem 6rem ;

}
.styles_typicalWrapper__1_Uvh{
    font-size: 2.5vh;
}
.picture-container{
    grid-area: pic;
    width: max-content;
    margin-left: auto;
    margin-right: auto;

}
.profile-picture{
  
    display: flex;
     align-items:center;
    justify-content: center; 
    box-shadow: 0 1px 0 0 #fff;
    border-radius: 60%;
    height:380px;
    width:380px;
    /* margin-right: 2rem; */
}
.profile-picture-background{
    height:92%;
    width:92%;
    background-image: url("../../assets/Screen\ Shot\ 2022-04-03\ at\ 4.37.30\ PM.png");
    background-size: cover;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position:center ;

}
.profile-picture-background:hover{
    transform: scale(1.07);
    transition: 1s ease-out ;

}
@media screen and (max-width:940px){
    .profile-container{  
        color:rgb(255, 255, 255);
        display: grid;
        overflow: hidden;
        margin: auto;
    position: relative;
        grid-template-columns:repeat(1 , 1fr);
        grid-template-rows: repeat(100%);
                grid-template-areas:
                    "pic"
                    "about"
                    "tag"
                    "des"
                    
}
.primary-text{
    margin: auto;
}
.primary-text p {
    display:none;
}

}
@media screen and (max-width:610px){
.profile-role-tagline{
    margin: 1rem; 
 } 
@media screen and (max-width:520px){
      .highligted-text{
          padding: 3rem;
      }
      .profile-picture{
        height:320px;
        width:320px;
      }
      .profile-role-tagline{
          font-size: 2vh;
      }
      .profile-details-role{
          max-width: max-content;
          margin-left: 0;
      }
      .styles_typicalWrapper__1_Uvh{
          font-size: 2vh;
          /* padding-left: 10px; */
      }

}
}
